@import 'foundation';
@include foundation-flex-grid;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-size: 13px;
    line-height: 1.25;
    font-family: 'Helvetica Neue','Helvetica','arial', 'roboto',serif;
    font-style: normal;
    font-weight: normal;
    background: linear-gradient(to right, #EFEFEF, #F4F4F4, #FAFAFA, #FFFFFF 80%);
    color: #333333;
    display: block;
    height:inherit;
}

body{
  -webkit-transition:background-color 0.5s;
  transition:background-color 0.5s
}

nav, section, main, footer, div, h1, h2, h3, h4, h5, h6, p, ul, li {
  display: block;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins','Helvetica Neue','Roboto','Arial',serif;
  font-weight: bold;
  color: #333333;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.4;
}

h2 {
  font-size: 2.5rem;
}

section{
  position:relative;
}

div {
  display: block;
}

p:not(:last-child) {
    margin-bottom: 1em;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: #333333;
}

a:hover {
  color:inherit;
}

.section-wrap {margin-bottom: 16.67%}

.row {
    max-width: 100%;
}

/*outer*/
.outer {
  padding: 10px 40px 0;
  overflow-x: hidden;
}

.wrap {
  position: relative;
  margin: 0 30px;
  min-height: 100%;
}

/*top-bar*/
.chinese {
  font-family: 'helvetica neue', serif;
  font-weight: lighter;
  font-size: 1em;
}

.row {
  max-width: none;
}

.top-bar {
  background-color: transparent;
}

.top-bar ul {
  background-color: transparent;
}

.menu {
  font-family: 'poppins';
  font-size: 1em;
  padding-top: 15px;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  display: block;
  position: relative;
}

.menu li {
  width: 100%;
}

.menu > div > div > li > a:hover {
  font-weight: bold;
}

.nav-gradient:before {
  width: 60%;
  height: 3px;
  margin-bottom:0;
  display: block;
  background-image: linear-gradient(123deg, #262C58 0%,#88B04B 45%,#262C58 89%);
  background-size: 200%;
  content: "";
}

.nav-gradient-non:before{
  width: 60%;
  height: 3px;
  margin-bottom:0;
  display: block;
  background-color: transparent ;
  background-size: 200%;
  content: "";
}

/*intro*/
.intro {
  position: relative;
  padding-top:40%;
  z-index: 1000;
  margin: 0;
  font-family: 'helvetica neue';
}

.intro-image, .intro-text {
  position: absolute;
}

.intro-right {
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  text-decoration: line-through;
  z-index: 1;
}

.intro-right > span > p {
  margin-top: 36%;
  font-size: 1.25rem;
}

.line-through{
  font-size: 4em;
  line-height: 1.25em;
  position: relative;
}

.line-through::after {
  border-bottom: 0.125em solid red;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
  background: #88B04B;
}

.intro-left {
  top: 0;
  left: 0;
  width: 49%;
  height: 100%;
  text-align: right;
  z-index: 0;
}

.intro-left > p {
  margin-top: 36%;
  font-size: 1.25rem;
}

.myname {
  top:0;
  width: 100%;
  z-index: 0;
}

.myname > h1 {
  text-align: center;
  margin-top: 23.8%;
  font-family: 'Poppins', 'Roboto', 'Helvetica Neue', 'Arial', serif;
  font-weight: 600;
  font-size: 4.25rem;
  letter-spacing: 18px;
}

.image-center {
  height: 80%;
  width: 100%;
  top: 0;
  z-index: -1;
}

.image-center > img {
  width: 25%;
  position: relative;
  margin: 12% auto;
}

.image-right {
  width: 31%;
  top: 46.5%;
  right: 20%;
  z-index: -1000;
}

.shadow-right:after {
    position: absolute;
    /*box-shadow: 5px 31px 85px 23px rgba(0,0,0,0.07);*/
    background:linear-gradient(to left, #ebebeb, #eeeeee, #FAFAFA, #FFFFFF);;
}

.shadow-right:before, .shadow-right:after {
  position: absolute;
  top: 1%;
  bottom: 30%;
  right: 49.8%;
  width: 40vw;
  height: 3060px;
  z-index: -1000;
  content: "";
}


/*work*/
.works {
  position: relative;
  z-index: 1000;
  overflow:auto;
}
/*work-title*/
.title-wrap-1 {
  padding-top:15%;
}

.title-wrap-2 {
  padding-top: 10%;
}

.gradient:before {
  width: 30px;
  height: 2px;
  margin-bottom: 0;
  display: block;
  width: 196px;
  height: 7px;
  background-image: linear-gradient(123deg, #262C58 0%,#88B04B 45%,#262C58 89%);
  background-size: 200%;
  content: "";
}

/*work-case*/
.case-wrap {
  margin-bottom: 10%;
  padding-top: 6.32%;
}

.movingsale {
  padding-top: 16.32%;
}


.columns {
  padding-left: 0;
  padding-right: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

/*.title-vertical {
	position: fixed;
	top: 50%;
	left: 30px;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
 }*/

 /*.title-vertical.active {
   opacity: 1
 }*/

/*.title-vertical>* {
	letter-spacing: 1px;
	font-style: italic;
	-webkit-transform: translateX(-50%) rotate(-90deg);
	transform: translateX(-50%) rotate(-90deg);
	-webkit-transform-origin: top 50%;
	transform-origin: top 50%
 }*/

/*work-case-visual*/
.case-visual {
  position: relative;
  width: 50%;
}

.img-wrap {
  position:relative;
  padding:auto;
  margin:auto;
}

.image-wrap > img {
  position: absolute;
  top: 0;
  width: 100%;
}

img{
    display: block;
    width: 100%;
    border: 0;
}


.case-image-1, .case-image-2 {
  position: absolute;
  margin-right: 10px;
  box-shadow: 5px 31px 85px 23px rgba(0,0,0,0.07);
}

.case-image-3 {
  position: absolute;
  margin-right: 10px;
  width: 30%;
}

.case-image-2 {
  width: 22%;
}

.AS-1 {
  top: 40px;
  left: 10%;
}

.AS-2 {
  bottom: 40px;
  right: 10%;
}

.SM-1-1 {
  left: 0;
  top: 6%;
}

.SM-1-2 {
  left:40%;
  top: 6%;
}

.SM-1-3 {
  right: 0;
  top: 6%;
}

.SM-2-1 {
  left: 0;
  top: 41%;
}

.SM-2-2 {
  left:40%;
  top: 41%;
}

.SM-2-3 {
  right: 0;
  top: 41%;
}

.SM-3-1 {
  left: 0;
  bottom: 0;
}

.SM-3-2 {
  left:40%;
  bottom: 0;
}

.SM-3-3 {
  right: 0;
  bottom: 0;
}

.MS-1 {
  right: -5%;
  bottom: 18%;
  width: 25%;
}

.MS-2 {
  left: 13%;
  bottom: -13%;
  width: 24%;
}

.MS-3 {
  left: 15%;
  top: 5%;
  width: 20%;
}

.MS-4 {
    width: 32%;
    left: 32%;
    bottom: 0;
}

.MS-5 {
  left: -4%;
  top: 35%;
  width: 35%;
}

.MS-6 {
  right: -3%;
  bottom: -10%;
  width: 40%;
}

.MS-7 {
  right: 14%;
  top: 2%;
  width: 35%;
}


/*work-case-content*/
.case-content {
  position: relative;
  padding: 0 9.83%;
  width: 50%;
  z-index: 0;
}

.title-case {
  margin-top: 35%;
  background-image: linear-gradient(to right, rgba(253,209,205,0.4), #ffffff);
  width:100%;
}

.case-content > .title-case > a > h2 {
  font-size: 2.7rem;
  padding-top: 5%;
  padding-left: 1%;
  margin-bottom: 0;
}

.aerospec > .case-content > .title-case > a > h2 {
  font-family: 'arial','Helvetica', "Roboto", serif;
}

.surveymatch > .case-content > .title-case > a > h2 {
  font-family: 'bungee','poppins', "helvetica neue", serif;
  font-size: 2.4rem;
}

.movingsale > .case-content > .title-case > a > h2 {
  font-family: 'mogra','poppins', "helvetica neue", serif;
}

.subtitle-case > p {
  font-size: 1.6rem;
}


.features-loader {
    position: relative;
    margin: 15px 0 40px;
    width: 100%;
    height: 5px;
    background-color: #000;
}

.description-case {
    position: relative;
    margin-top: 7.75%;
    width: 270px;
    height: 210px;
}

.description-case > p {
  font-size: 1rem;
}

.text-link-wrap {
  background-color: #333333;
  width: 170px;
  margin-top: 11.68%;
}

.text-link  > p {
  color:#ffffff;
  margin-left: 1%;
}

/*footer*/
.footer {
  display: block;
    position: relative;
    padding: 7.69% 0 50px;
    overflow-y: hidden;
}

.footer-columns {
    position: absolute;
    width: 100%;
    bottom: 50px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.footer-columns {
    display: flex;
    flex-flow: row wrap;
}

.footer-social {
    width: 100%;
    text-align: right;
    font-size: 22px;
}

.footer-social li {
    display: inline-block;
    margin-left: 15px;
}

.footer-social ul {
    list-style-type: none;
}

/*getintouch*/
.footer-contact {
  position: relative;
  height: 50%;
  z-index: 1000;
  margin-bottom: 15%;
  margin-top:10.36%;
}

.footer-contact-wrap {
  width: 75%;
  height: 30rem;
  margin: auto;
  border-color: #333333;
  border-style: solid;
  border-width: 0.5px;
  display: table;
}

.footer-contact-link {
  position:relative;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.footer-contact-link h1{
  color: #A2A1A1;
  letter-spacing: 5px;
  font-size: 3rem;
  font-weight: 600;
}

.contact-image {
  position: absolute;
  right: 12.55%;
  bottom: 0;
  width: 29.6%;
}

.footer-to-top {
  position: relative;
  margin-bottom: 20%;
  text-align: center;
  z-index: 1000;
}

.footer-to-top>a {
  width: 30px;
  margin:0 auto;
}

.footer-to-top img{
  width: 30px;
  margin: 0 auto;
}


@media only screen and (max-width: 1200px){
.outer {
    padding: 10px 30px 0;
    overflow-x: hidden;
}

.wrap {
    margin: 0 20px;
}
.title-vertical {left: 25px}
}

@media only screen and (max-width: 1000px){
.outer {
    padding: 5px 20px 0;
    overflow-x: hidden;
}

.wrap {
    margin: 0 10px;
}
.text-link {
    font-size: 11px;
}
.title-vertical {left: 15px}
}



@media only screen and (max-width: 767px){
.outer {
    padding: 22px 0;
}
.wrap {
    margin: 0 15px;
}
}
